 <div class="top-header header_2">
  <div class="{% if settings.layout_width == 'boxed' %}container{% else %}container-fluid{% endif %}">
      <div class="navigation__header">
        {%- if section.settings.menu != blank -%}
        <div id="nav-menu-btn"  class="nav-menu-btn {{ mobileMenu }}">
          <div class="nav__btn">
            <div class="navbar-toggler" data-toggle="collapse" role="button" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </div>
          </div>
          {% render 'side-menu' section : section, mobileMenu : true %}
        </div>
        {%- endif -%}
       <a class="header__heading-link {% if section.settings.logo == blank %}yv-heading-shop-link{% endif %}" href="{{ routes.root_url }}" aria-label="{{ shop.name }}">
         {%- render 'header-logo' section : section -%}
        </a>
        <div class="form-inline header-right">
          {% render 'header-icons' section : section %}
        </div>
      </div>
    </div>
  {%- if section.settings.menu != blank -%}
  <div class="nav__header nav_2">
    <div class="container">
      <div class="navbar navbar-expand-md">
          <ul class="list-unstyled navbar-nav list-menu--inline" {% if section.settings.menu_position == 'center' %}style="justify-content:center;"{% endif %} role="list">								
            {% render 'nav-item' section : section %}
          </ul>
      </div>
    </div>
  </div>
  {%- endif -%}
</div>